body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
}

p{
    color:#8b8bbc;
    font-family: Verdana;
    font-size: 20px;
}

button{
    color: white;
    background-color: #025157;

}

.horizontal{
    display: flex;
    flex-direction: row;
}

.enlinea{
    display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }

/* ------- arreglos de parte del teacher -------*/

.header {
    margin: 40px 20px 0;
    /* margin: top derecho izquierdo  down*/
    font-size:0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
    line-height: 45px;
    font-family: sans-serif;
}

li{
    display: inline;
    padding: 0px 25px 0px 25px;
}

.logo {
    width:15%;
}
.logo > img {
    width: 75%;
}

.navbar {
    width:70%;
    text-align: left;
    color: #025157;
    font-weight: 500;

}

.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.main{
    margin-top: 285px;
    text-align: center;

}

.singin{
    color:#67b54b;
}

.trial{
    background-color: #67b54b;
    color:white;
    border: none;
    margin: 12px 14px 12px;
}
.demo{
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

/* sesion 3  */
.publicidad{ 
    color:#025157;
    font-family: 'Times New Roman', Times, serif;
}

.parrafopu{
    color:#343434;
}

.flexpubli{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:100px auto;
    width:70%;
}

.flexcol{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:100px auto;
    width:70%;
}

.espacio{
    margin-left: 40px;
}

.fix-header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #fffbf7;
}

.features {
    border-style: solid;
    height: 660px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    background-color: #025157;
    padding: 60px 120px;
    grid-gap: 75px;
}

.crt{
    background-color: white;
    border-radius: 10px;
}

.primerflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    
}
.articletext{
    width: 300px;
}

.enlace{
    color:#67b54b;
    font-weight: 900;
}
/* Media Queries */

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px){
    .navbar,
    .actions {
      display: none;
    }
  }
  
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
    
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
  
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {
  
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
  }