body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
}

p{
    color:#8b8bbc;
    font-family: Verdana;
    font-size: 20px;
}

button{
    color: white;
    background-color: #025157;

}